<p>
  <a href="{{site.dc_site}}">Data Carpentry</a>
  workshops are for any researcher who has data they want to analyze, 
  and no prior computational experience is required. 
  This hands-on workshop teaches basic concepts, 
  skills and tools for working more effectively with data.
  We will cover Data organization in spreadsheets, 
  data cleaning with OpenRefine, 
  and learn how to use the statistical program R.
  If time allows we will also talk about Interacting with databases from R. 
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
